*{
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-size: large;
}

.caixa{
    border: 5px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px 25px;
    margin: 5px;
}
